body {
	background-color:#c3dbef;
}
h1{
	color:#255e8d;
}
#headertext{
	display: inline-block;
	text-align:center;
	
}
#logo{
	vertical-align:middle;
	display: inline-block;
	margin-left:35%;
}
.navigationbar {
	background-color:#2b6ca3;
}
.navigationbar a {
	margin-right:10%;
	font-size: 25px;
	color:#ebf3fa;
	text-decoration:none;
	line-height:50px;
	border-width:3px;
	border-style:solid;
	padding:10px;
	border-color:white;
}
.navigationbar a:hover {
	color:#aecfea
}

#photoone {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#abouttext {
	font-weight: bold;
	font-family: Verdana;
	text-align: center;
}

#desc {
	margin-left:40%;
	margin-right:40%;
}